<div class="modal fade {{modalClass}}"
  id="{{ modalId }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="{{ modalId }}Label"
  data-backdrop="{{if backdrop backdrop}}"
  data-keyboard="{{if keyboard keyboard}}"
>
  <div class="modal-dialog {{ modalSize }}" role="document">
    <div class="modal-content">
      {{yield}}
    </div>
  </div>
</div>
