<div class="modal-header">
  {{#if cancelButton}}
    <button id={{unique-name-helper model=modalId name='cancel' dbid=dbid }} type="button" class="close" aria-label="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
  {{/if}}
  <h4 id="{{ modalId }}Label" class="modal-title {{titleClass}}">{{ yield }}</h4>
</div>
